<div id="portfolio-bg" class="background"></div>

<div class="about-card">
  <h1>About Us</h1>
  <hr>
  <p>Hodor hodor hodor Hodor hodor HODOR. Hodor hodor HODOR hodor hodor hodor Hodor. Hodor hodor hodor Hodor HODOR hodor hodor hodor. Hodor hodor hodor HODOR hodor Hodor hodor. Hodor hodor Hodor hodor hodor hodor HODOR hodor. Hodor HODOR hodor Hodor hodor hodor hodor hodor. Hodor Hodor hodor hodor hodor hodor HODOR. Hodor HODOR hodor hodor hodor hodor hodor Hodor.</p>
  <p>Hodor hodor hodor hodor Hodor hodor. Hodor hodor hodor hodor Hodor HODOR hodor hodor. Hodor hodor hodor hodor hodor hodor HODOR hodor. Hodor Hodor hodor hodor HODOR hodor. Hodor hodor hodor hodor Hodor hodor hodor HODOR.</p>
  <p>Hodor hodor hodor Hodor hodor HODOR. HODOR hodor hodor hodor hodor hodor Hodor hodor. Hodor hodor Hodor HODOR hodor hodor hodor hodor. Hodor HODOR hodor hodor Hodor hodor hodor hodor. Hodor hodor hodor Hodor hodor HODOR. HODOR hodor hodor hodor hodor hodor Hodor hodor. Hodor HODOR hodor hodor hodor hodor hodor hodor.</p>
</div>

<script type="text/javascript">
  $("#logo").hide();
  $("#logo2").show();
</script>
