<div class="jv-index">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="valign-wrapper">
        <%= link_to about_path, class: "circle-text jv-hoverable z-depth-1" do %>
          <div class="jv-text">
            About Us
          </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="valign-wrapper">
        <%= link_to gallery_path, class: "circle-text jv-hoverable z-depth-1" do %>
          <div class="jv-text">
            Our Work
          </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="valign-wrapper">
        <%= link_to new_request_path, class: "circle-text jv-hoverable z-depth-1" do %>
          <div class="jv-text">
            Need Paint?
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
