<div class="jv-index">
  <div class="row">
    <div class="col s4">
      <div class="valign-wrapper">
        <div class="circle-text">
          <div>
            Yah
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="valign-wrapper">
        <div class="circle-text">
          <div>
            Yah
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="valign-wrapper">
        <div class="circle-text">
          <div>
            Yah
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
