<div id="splash-image-desat" class="splash"></div>
<div id="splash-image-sat" class="splash"></div>
<div class="header">
  <div class="header-title">VALGREEN PAINTING</div>
  <div class="header-tag">painting your stuff since 1984</div>
</div>
<div class="splash-buttons">
  <%= link_to 'Request a Job', contact_path, class:"btn btn-primary" %>
</div>
<div id="gallery">

</div>

<script type="text/javascript">
  $(function() {
    $("#splash-image-desat").delay(1000).fadeOut(7000);
    $("#splash-image-sat").delay(1000).fadeIn(7000);
  })
</script>
