// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
@import "materialize/components/color";
$primary-color: color("green") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.jv-index {
  background: url('house2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

html{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.circle-text {
    width:45%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: box-shadow 1s ease;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    @extend .green;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    float: none;
    border: 1px #43a047 solid;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.jv-hoverable {
  @extend .hoverable;
  border-radius: 50%;
}

.jv-link {
  height: 100%;
  width: 100%;
}

.jv-text {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 5px) and (max-width: 500px) {

}

.valign-wrapper {
  height: 100%;
}

.row, .col, .s4 {
  height: 90%;
}
